# Primary control plane node. This is the 1st node where RKE2 will be installed and it has all roles (control-plane, etcd, master, agent). Only one nodes should be mentioned in this.
[control_plane_primary]
control-plane-1 ansible_host=<internal ip> ansible_user=root ansible_ssh_private_key_file=<pvt .pem file>

# Subsequent control plane nodes. These are additional control plane nodes that will be added to the cluster after the Primary control plane node and it has also all the roles (control-plane, etcd, master, agent). Mumber of nodes to be added is based upon your requirement of HA.
[control_plane_subsequent]
control-subsequent_plane-1 ansible_host=<internal ip> ansible_user=root ansible_ssh_private_key_file=<pvt .pem file>

# agent nodes. These nodes will run application workloads and number of nodes to be defined depends upon the required no of worker considering in sandbox the load is getting shared with primary and secondary server node.
[agents]
agent-1 ansible_host=<internal ip> ansible_user=root ansible_ssh_private_key_file=<pvt .pem file>

# etcd nodes. These nodes will run the etcd database for Kubernetes, which is responsible for storing the cluster's state.
[etcd]
etcd-1 ansible_host=<internal ip> ansible_user=root ansible_ssh_private_key_file=<pvt .pem file>

# Global variables applied to all hosts in the inventory.

[all:vars]
# The version of RKE2 to install across the cluster.
INSTALL_RKE2_VERSION=v1.28.9+rke2r1
# The Domain name to use for the cluster.
cluster_domain=<cluster name>
# The path where RKE2 will be installed on each node.
RKE2_PATH=/etc/rancher/rke2
