- name: Precheck
  import_playbook: playbook/pre-checks.yaml

- name: Ensure required tools and RKE2 are installed
  hosts: all
  become: yes
  gather_facts: y
  tasks:
    - name: Ensure required tools are installed
      apt:
        name: "{{ item }}"
        state: present
      loop:
        - wget
        - curl
        - jq

    - name: Create RKE2 config directory
      file:
        path: "{{ RKE2_PATH }}"
        state: directory

    - name: Install RKE2
      shell: |
        curl -sfL https://get.rke2.io | INSTALL_RKE2_VERSION="{{ INSTALL_RKE2_VERSION }}" sh -

- name: Configure Primary Node
  import_playbook: playbook/primary-node.yaml

- name: Configure Subsequent Nodes
  import_playbook: playbook/subsequent-nodes.yaml

